{% extends 'base_shop.html' %}

{% block title %}
    Доставка та оплата
{% endblock %}

{% block content %}
        <main class="main__content_wrapper">

        <!-- Start breadcrumb section -->
        <section class="breadcrumb__section breadcrumb__bg">
            <div class="container">
                <div class="row row-cols-1">
                    <div class="col">
                        <div class="breadcrumb__content text-center">
                            <ul class="breadcrumb__content--menu d-flex justify-content-center">
                                <li class="breadcrumb__content--menu__items"><a href="{% url 'shop:homepage' %}">Головна</a></li>
                                <li class="breadcrumb__content--menu__items"><span>Гарантія</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End breadcrumb section -->

        <!-- Start info section -->
        <div class="privacy__policy--section section--padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="privacy__policy--content">
                            <h2 class="privacy__policy--content__title">Гарантія</h2>
                            <p class="privacy__policy--content__desc">На товари в нашому інтернет-магазині надається гарантія виробника за умови дотримання вимог щодо встановлення та експлуатації товару. Гарантійний термін  становить 14 календарних днів із моменту придбання товару чи більше, залежно від типу товару. Гарантія на запчастини надається в залежності від сервісної політики виробника. Гарантійні зобов'язання не поширюються  на деталі електрообладнання (реле, датчики, автолампи, свічки, електронні блоки, кабелі, запобіжники тощо), витратні запасні частини та матеріали (олії, фільтри, технічні рідини тощо), автокосметику . Даний вид товару перевіряється на його цілісність та працездатність у момент отримання.</p>
                            <p class="privacy__policy--content__desc">Продавець не несе гарантійних зобов'язань у таких випадках:</p>
                            <p class="privacy__policy--content__desc">- Нормальний та природний для певного терміну експлуатації знос деталі</p>
                            <p class="privacy__policy--content__desc">- Пошкодження деталі внаслідок ДТП або будь-яке інше механічне пошкодження</p>
                            <p class="privacy__policy--content__desc">- Несправність запасних частин, що виникла внаслідок використання не передбачених виробником автомобіля або технічно несумісних деталей, палива, моторного масла</p>
                            <p class="privacy__policy--content__desc">- Пошкодження, що виникли через неакуратне водіння (експлуатацію) або внаслідок дефектів дорожнього покриття</p>
                            <p class="privacy__policy--content__desc">- Встановлення деталі клієнтом самостійно або на сервісі, що не має сертифіката на проведення даного виду робіт</p>
                            <p class="privacy__policy--content__desc">Товар, що має візуальні дефекти, зумовлені процесом виробництва або зберігання, може бути замінений на аналогічний або відшкодована його повна вартість.</p>
                        </div>
                        <div class="privacy__policy--content section_2">
                            <h2 class="privacy__policy--content__title">Умови повернення</h2>
                            <p class="privacy__policy--content__desc">Покупець відповідно до Закону України "Про захист прав споживача" має право повернути товар належної якості протягом 14 днів з дати його отримання. У разі надсилання товару кур'єрськими службами (Нова Пошта, Делівері тощо) датою отримання товару вважається дата передачі товару перевізнику. При встановленні деталі на автівку та у разі повернення товару, знімається 20% від вартості товару.</p>
                            <p class="privacy__policy--content__desc">Вимоги до товару належної якості:</p>
                            <p class="privacy__policy--content__desc">- Товар приймається до повернення лише у початковій упаковці, де він був відпущений клієнту, незалежно від причини повернення</p>
                            <p class="privacy__policy--content__desc">- Відсутність механічних дефектів та слідів встановлення та експлуатації</p>
                            <p class="privacy__policy--content__desc">- Упаковка не повинна містити будь-які написи та/або бути пошкодженою (розкриття упаковки в призначеному місці не є її пошкодженням)</p>
                            <p class="privacy__policy--content__desc">- Наявність паспорта виробника продукції, документації, брошур, інформаційних вкладишів та оригінальних етикеток виробника</p>
                            <p class="privacy__policy--content__desc">- Заборонено обклеювати упаковку скотчем, крім місць, призначених для цього виробником</p>
                            <p class="privacy__policy--content__desc">- Товар повинен містити початкову комплектацію у разі постачання товару комплектом</p>
                            <p class="privacy__policy--content__desc">- Наявність накладного чи товарного чека продавця</p>
                            <p class="privacy__policy--content__desc">Вимоги до товару, що повертається неналежної якості , який був встановлений на автомобіль:</p>
                            <p class="privacy__policy--content__desc">- Рекламаційний акт сервісної станції про проведення робіт із встановлення даного товару на автомобіль клієнта та виявлення його непридатності</p>
                            <p class="privacy__policy--content__desc">- Копію замовлення-наряду автосервісу, де проводилася установка товару на автомобіль</p>
                            <p class="privacy__policy--content__desc">- Копію ліцензії даного сервісу на проведення робіт із встановлення цього виробу та обслуговування даного типу автомобіля</p>
                            <p class="privacy__policy--content__desc">- Копію сертифіката відповідності на надання послуг, що надаються сервісом</p>
                            <p class="privacy__policy--content__desc">- Наявність накладного чи товарного чека продавця</p>
                            <p class="privacy__policy--content__desc">Без надання документів від автосервісу, де проводилося встановлення товару на автомобіль, встановлення запчастини прирівнюється до самостійної. З боку магазину подається запит на рекламацію виробнику (постачальнику), термін розгляду становить від 14 до 30 календарних днів. За фактом отримання висновку експертизи повідомляється покупець. Якщо за експертизи: не підтверджено шлюб/дефект - товар повертається покупцю; підтверджено шлюб/дефект - покупець має право вибрати будь-який інший товар з наявного асортименту з перерахуванням вартості або вимагати повернення грошей.</p>
                            <p class="privacy__policy--content__desc">Продавець має право відмовити покупцю в обміні або поверненні товару у таких випадках:</p>
                            <p class="privacy__policy--content__desc">- Товари належної якості було доставлено Покупцю під індивідуальне замовлення</p>
                            <p class="privacy__policy--content__desc">- Товари належної якості були придбані зі знижкою під час проведення акцій та розпродажів</p>
                            <p class="privacy__policy--content__desc">- Товари належної якості зберігалися Покупцем з порушенням встановлених для цього товару правил зберігання, це порушення позначилося на зовнішньому вигляді Товару чи його упаковці</p>
                            <p class="privacy__policy--content__desc">- Товари є деталями електрообладнання (реле, датчики, автолампи, свічки, електронні блоки, кабелі, запобіжники тощо), витратними запасними частинами та матеріалами (олії, фільтри, технічні рідини тощо), автокосметикою</p>
                            <p class="privacy__policy--content__desc">- Товари придбано понад 14 днів тому.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End info section -->
    </main>
{% endblock %}